@layer components {
  .drag-and-drop__dragged-item {
    box-shadow: none;
    filter: grayscale(1) brightness(0.97);
    opacity: 0.6;
    outline: 2px dashed var(--color-selected-dark);
  }

  .drag-and-drop__hover-container {
    --dnd-bg-color: var(--color-selected-light);
    --dnd-border-color: var(--color-selected-dark);

    background-color: var(--dnd-bg-color);
    outline: 2px dashed var(--dnd-border-color);
    outline-offset: -2px;
    transition: background-color 200ms;
    z-index: 1;
  }

  .popup__handle {
    --icon-size: 1em;

    align-items: center;
    color: var(--color-ink-medium);
    cursor: grab;
    display: inline-flex;
    margin-inline-start: auto;
    padding-inline: var(--popup-item-padding-inline, 0.5em);
    transition: color 150ms;
  }

  .popup__handle:hover,
  .popup__handle:focus-visible {
    color: var(--color-ink);
  }

  .reorder__dragging {
    opacity: 0.5;

    .popup__handle {
      cursor: grabbing;
    }
  }
}
